# @awesome.me:registry=https://npm.fontawesome.com/
# @fortawesome:registry=https://npm.fontawesome.com/
# //npm.fontawesome.com/:_authToken=2DD68B3B-EA83-4EB7-9889-66EBDD08E1D8

# cacheFolder: .yarn/cache

enableImmutableInstalls: true

nodeLinker: node-modules

# yarnPath: .yarn/releases/yarn-4.3.0.cjs

npmScopes:
  fortawesome:
    npmAlwaysAuth: true
    npmRegistryServer: 'https://npm.fontawesome.com/'
    npmAuthToken: '2DD68B3B-EA83-4EB7-9889-66EBDD08E1D8'